<template name="friends">
	<div class="container">
    	<div class="row">
    		<div class="col-md-4 center">
    			<div class="buddy">
    				<div class="icon-center">
    					<img src="/pacman.png">
    				</div>
	    			<h3 class="text-white">Buddies</h3>
					{{#each homies}}
    				<div class="bumped-thumbnail">
						<img src="{{profile_picture_url}}">
						<p>{{name}}</p>
						<div>
							<button value="{{fb_id}}" class="btn btn-success meet disabled" disabled><i class="fa fa-thumbs-up"></i></button>
							<button value="{{fb_id}}" class="btn btn-default neutral"><i class="fa fa-hand-peace-o"></i></button>
							<button value="{{fb_id}}" class="btn btn-danger avoid"><i class="fa fa-thumbs-down"></i></button>
						</div>
    				</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4 center">
				<div class="friends">
					{{#each friends}}
					<div class="bumped-thumbnail">
						<img src="{{profile_picture_url}}">
						<p>{{name}}</p>
						<div>
							<button value="{{fb_id}}" class="btn btn-success meet"><i class="fa fa-thumbs-up"></i></button>
							<button value="{{fb_id}}" class="btn btn-default neutral disabled" disabled><i class="fa fa-hand-peace-o"></i></button>
							<button value="{{fb_id}}" class="btn btn-danger avoid"><i class="fa fa-thumbs-down"></i></button>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4 center">
				<div class="friendnemies">
					<div class="icon-center">
    					<img src="/ghost.png">
					</div>
					<h3 class="text-white">Enemies</h3>
					{{#each friendnemies}}
					<div class="bumped-thumbnail">
						<img src="{{profile_picture_url}}">
						<p>{{name}}</p>
						<div>
							<button value="{{fb_id}}" class="btn btn-success meet"><i class="fa fa-thumbs-up"></i></button>
							<button value="{{fb_id}}" class="btn btn-default neutral"><i class="fa fa-hand-peace-o"></i></button>
							<button value="{{fb_id}}" class="btn btn-danger avoid disabled" disabled><i class="fa fa-thumbs-down"></i></button>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>