<template name="landingpage">
	<div class="container-fluid no-gutter">	
		<div class="row-fluid">
			<!-- Home -->
			<section class="wrapper home carousel">
				<img class="img-responsive carousel-bg" style="width:auto;" src="">
				<a class="anchor" id="home"></a>
				<div class="container">
					<div class="row">
						<div class="col-md-offset-2 col-md-8 text-center">
							<hgroup class="main-title demo-request">
								<h1>Bump into the people you like</h1>
								<p style="font-size:22px;color:#FFFFFF">Avoid awkward encounters with people you don't like.</p>
								<a href="#" class="login">Login with Facebook</a>
								<a class="play-store" href="https://play.google.com/store/apps/details?id=com.idexqurk1cku28wqkd7dg">Get on Play Store</a>
							</hgroup>
						</div>
					</div>
				</div>
			</section>

			<!-- Project -->

			<!-- Features -->
			<section class="wrapper bg-light-blue">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 text-center mar-b30">
							<hgroup>
								<h2>Why Bumped?</h2>
								<h3></h3>
							</hgroup>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-8 lg-text">
									<h3></h3>
									<br>
									<p><strong>Just met a person that you like but not sure if the feeling is mutual?</strong></p>
									<br>
									<p>
										Bumped allows you to create more chances to meet the people you like. As long as the both of you are friends on Facebook and are using the app,
									   you can simply move that person into the "Buddies" category and their locations will show up on the map as a "Cherry". However, their identity will not be revealed, hence protecting each other's privacy and creating an element of uncertainty and surprise.
									   
									</p>
									<p>Over time, if you realize that you keep bumping into the same person frequently, chances are pretty high that the feeling is mutual, and you can make your next move without fear of rejection!</p>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<img class="" style="height:auto;width:100%" src="mutual-feeling.png">
						</div>
					</div>
				</div>
			</section>
			
			<section class="wrapper bg-white">
				<div class="container">
					<div class="row mar-t100">
						<div class="col-md-6">
							<img style="height:auto;width:100%" src="broken-heart.jpg">
						</div>
						<div class="col-md-6">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-9 lg-text">
									<h3>Why should I avoid my Facebook friends?</h3>
									<br>
									<p>Let's face it, the whole world is on Facebook. Everyone are friends on Facebook, but not all friends are equal. Some were good friends, until something happened. Some were girlfriends-boyfriends, until the traumatic breakup...</p>
									<br>
									<p>Bumped provides you a safe way to avoid the people you would rather not meet in your life. To put it simply, they got 'bumped' from your life! "Enemies" are shown as ghosts on the map and you are supposed to run away from them!</p>
									<br>
									<p>Furthermore, for the ladies out there who keep getting hit on by the super persistent guy taking the same class as you, here is your livesaver!</p>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper bg-light-blue">
				<div class="container-fluid">
					<div class="row mar-t100">
						<div class="col-md-6">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-9 lg-text">
									<h3>Will my friends know when I change them to "Buddies" or "Enemies"?</h3>
									<br>
									<p>Rest assured, all your actions on Bumped are private to you and you only. Your data is private with us, and nobody would ever know who your crushes and enemies are.</p>
									<br>
									<p>Bumped is your personal assistant to help you build relationships in real life. We help you to move virtual friendships on Facebook into real physical relationships in real life! Get started now!</p>
									<br>
									<div style="margin-left:25%;max-width:200px">
							    		<a class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span>Login with Facebook</a>
									</div>
									<br>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img style="height:auto;width:60%" src="anti-social.jpg">
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper-mini">
				
			</section>
		</div>
	</div>
</template>