<template name="landingpage">
	<div class="container-fluid no-gutter">	
		<div class="row-fluid">
			<!-- Home -->
			<section class="wrapper home carousel">
				<img class="img-responsive carousel-bg" style="width:auto;" src="">
				<a class="anchor" id="home"></a>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<hgroup class="main-title demo-request">
								<h1>Measure and optimize your social media presence</h1>
								<p style="font-size:22px;color:#FFFFFF">Adopt a data-driven approach to engage your customers online</p>
								<a href="">Request for Demo</a>
							</hgroup>
						</div>
					</div>
				</div>
			</section>

			<!-- Project -->

			<!-- Features -->
			<section class="wrapper bg-light-blue">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 text-center mar-b30">
							<hgroup>
								<h2>Product features</h2>
								<h3></h3>
							</hgroup>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-8 lg-text">
									<h3>Understand your brand</h3>
									<br>
									<p>Conversations happen all the time, online and offline. Whether you like it or not, customers are talking about your brand and your products right now, all over the Internet.</p>
									<br>
									<p>From preventing PR disasters, to handling customer issues, to building consumer brand awareness, to analyzing brand sentiments, our platform ensures you always get the big picture about your brand.</p>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<img class="" style="height:auto;width:100%" src="">
						</div>
					</div>
				</div>
			</section>
			
			<section class="wrapper bg-white">
				<div class="container">
					<div class="row mar-t100">
						<div class="col-md-6">
							<img style="height:auto;width:100%" src="">
						</div>
						<div class="col-md-6">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-9 lg-text">
									<h3>Find suitable influencers for your brand!</h3>
									<br>
									<p>Fortune 1000 companies recognize the importance of amplifying marketing messages using influencers. The problem is how to find the right one for the particular topic and for your company?</p>
									<br>
									<p>Using our proprietary tool, we measure the degree of alignment between your brand and the influencers' fans. You can now accurately choose influencers based on laser-focused target audience.</p>
									<br>
									<h4>Interested to find out more?</h4>
									<div class="demo-request text-center">
										<a href="">Request for Demo</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper bg-light-blue">
				<div class="container-fluid">
					<div class="row mar-t100">
						<div class="col-md-6">
							<div class="row-fluid">
								<div class="col-md-offset-2 col-md-9 lg-text">
									<h3>Measure impact of your marketing campaigns</h3>
									<br>
									<p>Define trackable metrics and monitor them for each marketing campaign:</p>
									<ul class="list-group">
										<li class="list-group-item"><i class="icon-bullhorn icon-2x"></i> <span class="badge">$24,500</span>&nbsp;&nbsp;&nbsp;Dollars spent</li>
										<li class="list-group-item list-group-item-warning"><i class="icon-eye-open icon-2x"></i> <span class="badge">2540</span>&nbsp;&nbsp;&nbsp;Pageviews</li>
										<li class="list-group-item list-group-item-info"><i class="icon-download-alt icon-2x"></i><span class="badge">1020</span>&nbsp;&nbsp;&nbsp;Giveaway downloads</li>
										<li class="list-group-item list-group-item-danger"><i class="icon-signin icon-2x"></i><span class="badge">203</span>&nbsp;&nbsp;&nbsp;Free trial signups</li>
										<li class="list-group-item list-group-item-success"><i class="icon-dollar icon-2x"></i><span class="badge">54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sales</li>
									</ul>
									<br>
									<p>Contribute to the company's revenue. Look good during quarterly meetings.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img style="height:auto;width:100%" src="">
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper-mini bg-white">
				<div class="container social-source">
					<div class="row text-center">
						<h3>Currently tracking these sources</h3>
						<br>
						<i title="twitter" class="icon-twitter icon-dark icon-4x"></i>
						<i title="Web" class="icon-globe icon-dark icon-4x"></i>
						<h3>And more to come...</h3>
						<br>
						<i title="pinterest" class="icon-pinterest icon-4x"></i>
						<i title="tumblr" class="icon-tumblr icon-4x"></i>
						<i title="facebook" class="icon-facebook icon-4x"></i>
						<i title="instagram" class="icon-instagram icon-4x"></i>
						<i title="youtube" class="icon-youtube icon-4x"></i>
						<i title="linkedin" class="icon-linkedin icon-4x"></i>
						<i title="weibo" class="icon-weibo icon-4x"></i>
					</div>
				</div>
			</section>
		</div>
	</div>
</template>