<template name="login">
    {{#if currentUser}}
        <li class="dropdown">
   			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   				<img class="profile-pic" src="{{currentUser.profile.profile_picture_url}}">&nbsp;&nbsp;
   				{{currentUser.services.facebook.first_name}}<span class="caret"></span>
   			</a>
        	<ul class="dropdown-menu">
            	<li><a href="#">Settings</a></li>
            	<li role="separator" class="divider"></li>
            	<li><a href="#" id="logout">Logout</a></li>
            </ul>
        </li>
    {{else}}
          <a id="facebook-login" class="btn btn-block btn-social btn-facebook">
          <span class="fa fa-facebook"></span>Login with Facebook
          </a>
    {{/if}}
</template>