/* CSS declarations go here */
header .navbar-nav > li > a {
	line-height : 40px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #111111;
    color: #FFF;
}

.navbar-default.navbar-pacman .navbar-nav a:hover {
    background-color : transparent;
    color: #FFFFFF;
}

.navbar-default.navbar-pacman .navbar-nav .dropdown-menu a:hover {
	background-color : #F5F5F5;
    color: #000000;	
}

.profile-pic {
	border : 4px solid rgb(36,36,255);
	border-radius : 3px;
}

.map-container #map {
	min-height : 500px;
}

.map-container { 
	min-height : 500px;
	border : 5px solid #AAAAAA;
	border-radius : 3px;
}

nav.navbar.navbar-pacman {
	background-color : #1A1A1A;
}